<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "Adidas test Suite">
   <test name = "Adidas test">
      <classes>
         <class name = "TestNG.ChromeTestUIAdidasHomePage" />
         <class name = "TestNG.FirefoxTestUIAdidasHomePage" />
         <class name = "TestNG.NewTestJSONParserCMSResponse" />
          <class name = "TestNG.JsonNEST" />  
      </classes>
   </test>
</suite>